*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
!/FRC3620_Timeclock/tools/*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/FRC3620_Timeclock/nbproject/private/
/FRC3620_Timeclock/build/
/FRC3620_Timeclock/dist/
out
/.idea/workspace.xml
