<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:context="http://www.springframework.org/schema/context"
 xmlns:tx="http://www.springframework.org/schema/tx"
 xmlns:aop="http://www.springframework.org/schema/aop"
 xsi:schemaLocation="
 http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
 "
 >

 <!-- need to do a netbeans clean and build when changing this file -->
 
 <!--  this is needed so that PostConstruct annotation works -->
 <context:annotation-config/>
 <context:component-scan base-package="org.frc3620.timeclock" />

 <!--
 we used this to pass some properties in from the outside before setting up Spring (db.user and db.password)
 no longer needed, see notes in dataSource.
 -->
 <!--
 <bean class="com.whirlpool.windchill.files.InboundPropertyPlaceholderConfigurer"/>
 -->
 
 <!-- <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close" > -->
 <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
  <property name="driverClassName" value="org.h2.Driver" />
  <property name="url" value="jdbc:h2:file:#{ systemProperties['user.home'] }/FRC3620Timeclock/FRC3620Timeclock;AUTO_SERVER=TRUE;JMX=TRUE" /> <!-- ;TRACE_LEVEL_SYSTEM_OUT=3 -->
  <property name="username" value="SA" />
  <property name="password" value="" />
 </bean>
</beans>